.botao {
	-fx-background-color: #fff;
	-fx-background-radius: 6px;
	-fx-padding: 5px;
	-fx-font-family: 'VCR OSD Mono';
	-fx-font-size: 17px;
	-fx-text-fill: #20c113;
}

.botao:hover {
	-fx-background-color: #c7c8c9;
	-fx-font-size: 17px;
	-fx-text-fill: #39a457;
}

.redondo {
	-fx-background-color: #fff;
	-fx-background-radius: 20px;
	-fx-padding: 5px;
	-fx-font-family: 'VCR OSD Mono';
	-fx-text-fill: #20c113;
	-fx-font-size: 15px;
}

.redondo:hover {
	-fx-background-color: #c7c8c9;
	-fx-font-size: 15px;
	-fx-text-fill: #39a457;
}

#fechar {
	-fx-background-color: #ff0000;
	-fx-text-fill: #fff;
	-fx-font-size: 18px;
}

#fechar:hover {
	-fx-background-color: #d60b18;
}

.caixaDeTexto .content {
	-fx-background-color: #ffffff;
}

.caixaDeTexto:focused .content {
	-fx-background-color: #ffffff;
}

.scrollpane {
	-fx-background-color: transparent;
}

.scrollpane .viewport {
	-fx-background-color: transparent;
}

.painelTabela .tab-header-area .tab-header-background {
	-fx-background-color: transparent;
}

.painelTabela .tab {
	-fx-background-color: #ffffff;
	-fx-padding: 5px;
	-fx-margin: 5px;
}

.painelTabela .tab .tab-label {
	-fx-font-family: 'VCR OSD Mono';
	-fx-font-size: 14px;
	-fx-text-fill: #20c113;
}

.painelTabela .tab:hover {
	-fx-background-color: #20c113;
	-fx-cursor: hand;
}

.painelTabela .tab:hover .tab-label {
	-fx-text-fill: white;
}

.table-view {
    -fx-background-color: transparent;
    -fx-font-family: 'VCR OSD Mono';
    -fx-font-size: 14px;
}

.table-view .column-header {
	-fx-background-color: #20c113;
	-fx-text-fill: white;
}