.botao {
	-fx-background-color: #fff;
	-fx-background-radius: 6px;
	-fx-padding: 5px;
	-fx-font-family: 'VCR OSD Mono';
	-fx-font-size: 17px;
	-fx-text-fill: #20c113;
}

.botao:hover {
	-fx-background-color: #c7c8c9;
	-fx-font-size: 17px;
	-fx-text-fill: #39a457;
}

.redondo {
	-fx-background-color: #fff;
	-fx-background-radius: 20px;
	-fx-padding: 5px;
	-fx-font-family: 'VCR OSD Mono';
	-fx-text-fill: #20c113;
	-fx-font-size: 15px;
}

.redondo:hover {
	-fx-background-color: #c7c8c9;
	-fx-font-size: 15px;
	-fx-text-fill: #39a457;
}

#fechar {
	-fx-background-color: #ff0000;
	-fx-text-fill: #fff;
	-fx-font-size: 18px;
}

#fechar:hover {
	-fx-background-color: #d60b18;
}

.caixaDeTexto .content {
	-fx-background-color: #ffffff;
}

.caixaDeTexto:focused .content {
	-fx-background-color: #ffffff;
}

.scrollpane {
	-fx-background-color: transparent;
}

.scroll-pane .viewport {
	-fx-background-color: transparent;
}